.mesa-contenedor {
    display: flex;    /* ¡Aquí activamos Flexbox! */
    flex-direction: column;
    background-color: #ddd; /* Color gris de fondo */
    border: 2px solid black;
    padding: 10px;
}

.carta {
    background-color: coral;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    text-align: center;
}